/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

del {
  background-color: #ffc6c6;
}

.table > tbody > tr > .rowinserted,
.table > tbody > .rowinserted > td,
.table > tbody > .rowinserted > th
{
  background-color: #c6ffc6;
}

.table > tbody > tr > .rowdeleted,
.table > tbody > .rowdeleted > td,
.table > tbody > .rowdeleted > th
{
  background-color: #ffc6c6;
}

.table > tbody > tr > .rowmodified,
.table > tbody > .rowmodified > td,
.table > tbody > .rowmodified > th
{
  background-color: #ffffff;
}

.legend
{
  text-align: right;
}
